/* =============== Page scheme =============== */
.gridContainer
{
    display: grid;
    grid-template-columns: 50% 50%;
}

#qaImageDiv
{
    left:0px;
    top:0px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    position:relative;
    margin-top: 3%;
    z-index:-1;
}


#qaImage
{
	left:0;
    top:0;
    z-index:-1;
}


#formDiv
{
    float: left;
    width: 97%;
    margin-top: 3%;
    margin-left: 3%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
}


/* =============== Form Style =============== */
#questionDiv
{
    background: orange;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    padding: 10px 0 10px 0;
    font-weight: bold;
}

#question
{
    margin-left: 10px;
}

#answerDiv
{
    background: lightskyblue;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    padding: 10px 0 10px 0;
}

#answer
{
    margin-left: 10px;
    width: 33%
}

#formGeneralButtonDiv
{
    padding-top: 10px;
    grid-row-start: 3;
    grid-row-end: 4;
    background: grey;
    padding-bottom: 1%;
}

#submitButton{
    border-radius: 12px;
    padding: 10px 20px;
    white-space: normal;
    margin: 1% auto auto 5%;
}



/* =============== Instructions style  =============== */
#instructionsDiv
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
}

#mainInstructionsDiv
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 80%;
    padding: 1% 4%;
    margin: 0 auto;
    background: lightgrey;
    border-radius: 5px;
}

.redText
{
    color: red;
    font-weight: bold;
}

.blueText
{
    color: blue;
    font-weight: bold;
}

.boldText
{
    font-weight: bold;
}

.italicText
{
    font-style: italic;
}