.gridContainer
{
    display: grid;
    grid-template-columns: 50% 50%;
}

#qaImageDiv
{
    left:0px;
    top:0px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    position:relative;
    margin-top: 15px;
    z-index:-1;
}


#qaImage
{
	left:0px;
    top:0px;
    /*width: 100%;
    height: 100%;*/
    z-index:-1;
}

#formDiv
{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    /*height: 100%;*/
    /*display: none;*/
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    /*grid-template-columns: 100%;*/
    /*background: blue;*/
}

#QADiv
{
    float: left;
    width: 100%;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    /*background: blue;*/
    overflow: auto;
    /*margin-left: 10px;*/
    margin-bottom: 0;
}

.QADivRow
{
    float: left;
    display: flex;
    background: #D6EAF8;
    padding-top: 5px; 
    padding-bottom: 5px;
}

.questionInputDiv
{
    width: 50%;
}

.questionInput
{
    width: 90%;
    margin: 1% 2% auto 3%;
}

.answerInputDiv
{
    width: 50%;
}

.answerInput
{
    width: 90%;
    margin: 1% 5% auto auto;
}

.checkboxInputDiv
{
    color: white;
    font-weight: bold;
    display: flex;
    margin: 1% 2% auto 3%;
}

#canBeQAedCheckBox
{
    margin: 0px;
}

#checkboxText{
    margin: 0px 0px 0px 5px;
}

#formGeneralButtonDiv
{
    padding-top: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
    background: grey;
    padding-bottom: 1%;
}
/*
.formGeneralButton
{
    grid-row-start: 4;
    grid-row-end: 5;
}*/

/*Instructions style*/
#instructionsDiv
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
}

#mainInstructionsDiv
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 75%;
    margin: 0 auto;
    /*background: turquoise;*/
}

#examplesDiv
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 75%;
    margin: auto;
}

#example1
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; 
    width: 80%;
    margin: 0 auto;
    /*background: cyan;*/
}

#example2
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3; 
    width: 80%;
    margin: 0 auto;
    /*background: magenta;*/
}

.exampleImage
{
    max-width: 100%;
}
.redText
{
    color: red;
}

.blueText
{
    color: blue;
}

.boldText
{
    font-weight: bold;
}

.italicText
{
    font-style: italic;
}

#triggerText
{
    font-weight: bold;
    margin-left: 15px;
}

.panel-heading
{
    padding: 10px 0px;
    background: #428bca;
    border-bottom: 1px solid transparent;
    border-radius: 3px;
    width: 100%;
}

.panel-body {
    background-color: white;
    position: absolute;
    border-color: #428bca;
    border-style: solid;
    border-radius: 10px;
    box-shadow: none;
    display: grid;
    z-index: 2;
}

#collapseTrigger{
    color:#fff;
    display: block; 
    text-decoration: none;
    background: #428bca;
}

#submitButton{
  white-space: normal;
  margin: 1% auto auto 5%;
}



/* Instructions style */
.image{
  margin-bottom: 15px; 
}

#instructionsPanel1 {
    margin-top: 15px;
}

#instructionBody1 {
    margin: 100px;
    z-index: 1001;
}

#instructionBody2 {
    z-index: 1000;
}

.panel-primary {
    border: none;
    box-shadow: none;
}